[color]
	ui = true
[user]
	name = flavono123
	email = flavono123@gmail.com
[push]
	default = current
[alias]
	co = checkout
	br = branch
	cm = commit -as
	st = status
	cp = cherry-pick
	amd = commit -a --amend
	log1 = log --oneline
[core]
	editor = nvim
