# vim: ft=sh

# Azure
alias azs="az account list | jq -r '.[].name' | fzf --prompt=\"Select a subscription: \" | xargs -I{} az account set --subscription {} && az account show"

# Kubernetes
alias k="kubectl"

# Node.js
alias pn="pnpm"

# Terraform
if [ -f "$HOME/.terraform.d/terraform-plan-summary" ] && [ -x "$HOME/.terraform.d/terraform-plan-summary" ]; then
  alias terraform="$HOME/.terraform.d/terraform-plan-summary"
fi



# flavono123
alias c="cursor"
alias g="git"
alias v="nvim"
alias tf="terraform"

alias cat="bat --theme='Visual Studio Dark+' --style=numbers,changes,header"
alias ls="eza --color=always --long --git --no-filesize --icons=always --no-time --no-user"
alias ll="ls -l"
alias la="ll -a"
alias rmsw='find ~/.local -name "*.swp" -type f -delete -print'

alias agif='gen_asciinema_gif'

alias nerdwars='git shortlog -ns --no-merges'

gen_asciinema_gif() {
  asciinema rec -c "zsh -i" "$1.cast" # -e STARSHIP_CONFIG="$HOME/.config/starship/share.toml" not working
  agg --font-size 24 --font-family "FiraCode Nerd Font" "$1.cast" "$1.gif"
  rm "$1".cast
}
